@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&family=Poppins:wght@300;400&display=swap');


:root{
  --prime: #FF6600;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxanium', cursive;
  /* background-color: #010101;  */
}

* {
  box-sizing: border-box;
  
}
.card1{
  background-color: rgba(0, 0, 0, 0.205);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgb(48, 48, 48);
}

.card2{
  background-color: #FF6600;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}



.card3{
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
}




.pText{
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
}

.heading{
  font-size: clamp(1.875rem, 0.6964rem + 5.8929vw, 6rem);
}

.sHeading{
  font-size: clamp(1.25rem, 0.9643rem + 1.4286vw, 2.25rem);
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

#container {
  height: 500vh;
}




